/* Nav.css */
.nav-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1000;
}
.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 1rem;
    
}
.nav-item {
  margin: 0 2rem;
}

/* リンク自体の色にスタイルを適用する */
.nav-item a {
  color: black;
  text-decoration: underline;
  text-decoration-color: #D2A2FC; /* 下線の色を指定 */
}

.nav-item a.active {
  color: #D2A2FC;
  font-weight: bold;
}


.nav-login{
    margin-left: auto;
    
}